.page {
  width: 100%;
  display: flex;
  background-color: white;
}
.page .drawer_icon {
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: right;
}
.page .map {
  width: 100%;
  height: 100vh;
}
.page .area {
  position: absolute;
  left: 258px;
  top: 12px;
  width: 410px;

  z-index: 10;
  background: white;
  width: calc(100% - 742px);
  padding: 8px;
  border-radius: 4px;
}
.page .title {
  font-weight: 600;
  font-size: 16px;
  color: black;
  text-align: left;
}
.page .title img {
  vertical-align: text-top;
  margin-right: 2px;
}
.page .left {
  position: absolute;
  background: white;
  z-index: 10;
  padding: 16px;
  top: 12px;
  left: 8px;
  height: calc(100% - 44px);
  overflow-y: auto;
  border-radius: 4px;
}
.page .left .cards .ant-card {
  margin-top: 12px;
}
.page .left .cards .ant-card-head {
  min-height: 36px;
}
.page .left .cards .ant-card-head-title {
  font-size: 15px;
}
.page .left .cards .ant-tag {
  /* width: 165px; */
  white-space: normal;
}
.page .left .cards .ant-tag-checkable-checked {
  background-color: orange;
}
.page .left .cards .ant-card-body {
  padding: 16px;
}
.page .left .cards .ant-card-body span {
  margin-bottom: 4px;
}
.page .right .top {
  position: absolute;
  background: white;
  z-index: 10;
  right: 8px;
  top: 600px;
  padding: 16px;
  padding-top: 0;
  border-radius: 4px;
  width: 410px;
}
.page .right .top .message .ant-tabs-content-holder{
  /* height: 316px; */
  /* overflow-y: auto; */
}
.page .right .bottom {
  position: absolute;
  background: white;
  z-index: 11;
  right: 8px;
  top: 12px;
  padding: 16px;
  padding-top: 0;
  border-radius: 4px;
}
.page .right .bottom2 {
  position: absolute;
  top: 595px;
  /* position: relative;
  top: 16px;  */
  background: white;
  z-index: 10;
  right: 8px;
  padding: 16px;
  padding-top: 0;
  border-radius: 4px;
}
.page .right .bottomTag .ant-tag-checkable-checked {
  background-color: orange;
}
.page .right .bottomTag .ant-tag  {
  margin-bottom: 4px;
}
.page .right .bottomTag .ant-tag > div {
  display: flex;
  align-items: center;
}
.page .anchorBL {
  display: none;
}
